/* app css stylesheet */

body {
  padding-top: 20px;
}

.center-panel {
    width: 50%;
    height: 60%;
    margin: 10% auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
}

.center-alert {
    z-index: 9999;
    width: 50%;
    margin-left: 25%;
    box-shadow: 3px 3px #666;
    box-sizing: border-box;
    border-radius: 5px;
}

.line-padding {
    height: 20px;
}

.pattern-tabs {
}

.pattern-tabs  .pattern-pane {
    display: inline-block;
    padding: 0 5px;
}

.pattern-pane  .form-control {
    display: inline-block;
    width: auto;
}

.pattern-pane  input {
    width: 60px !important;
}

.pointer-link {
    cursor: pointer;
    text-decoration: underline;
}

.pusher > button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 45%;
    margin-left: 10px;
    box-shadow: 3px 3px rgba(111,111,66,.8);
}

.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
}


ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
