<div class="container-fluid" ng-controller="lessonListCtr">
    <div class="row">
        <div class="col-md-6">
            搜索:
            <input type="text" ng-model="query" class="form-control" placeholder="关键字..">
        </div>
        <div class="col-md-6">
            排序:
            <select ng-model="orderProp" id="orderProp" class="form-control">
                <option value="lesson_name">字母顺序</option>
                <option value="deadline">最新</option>
            </select>
        </div>
    </div>
    <div class="line-padding"></div>
    <div class="row">
        <table class="ui inverted grey table selectable">
            <thead>
                <tr>
                    <th></th>
                    <th>课程名</th>
                    <th>学生人数</th>
                    <th>截止日期</th>
                    <th>接收邮箱地址</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lesson in lessons | filter: query | orderBy:orderProp" ng-click="setUrl('lessonDetail.html', lesson)">
                    <td ng-click="addDelList(lesson.lesson_id);$event.stopPropagation();">
                        <div class="ui slider checkbox" >
                            <input type="checkbox" >
                            <label></label>
                        </div>
                    </td>
                    <td>{{lesson.lesson_name}}</td>
                    <td>{{lesson.stu_count}}</td>
                    <td>{{lesson.deadline}}</td>
                    <td>{{lesson.email_account}}</td>
                    <td>{{lesson.create_time}}</td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="6">
                        <div class="ui small button" ng-class="{'disabled':delNull}"  ng-click="delLessons()">
                            删除选中的课程
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>