<div class="panel panel-info" ng-controller="LessonDetailCtrl">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="addClassForm">
                    <div class="form-group">
                        <label for="lessonName" class="col-md-2 col-md-offset-2">课程名称</label>
                        <div class="col-md-4">
                            <input type="text" name="lessonName" class="form-control" ng-model="lesson.lesson_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stuCount" class="col-md-2 col-md-offset-2">学生人数</label>
                        <div class="col-md-4">
                            <input type="number" name="stuCount" class="form-control" ng-model="lesson.stu_count">
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-success' : !addClassForm.username.$pristine && addClassForm.username.$valid,
                'has-error' : !addClassForm.username.$pristine && addClassForm.username.$invalid }">
                        <label class="col-md-2 col-md-offset-2">
                            收报告邮箱用户名
                        </label>
                        <div class="col-md-6">
                            <input type="email" class="form-control" name="username" placeholder="推荐使用126邮箱" ng-model="lesson.email_account">
                            <div ng-show="!addClassForm.username.$pristine && addClassForm.username.$valid">
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                            <div ng-show="!addClassForm.username.$pristine && addClassForm.username.$invalid">
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-success' : !addClassForm.userPassword.$pristine && addClassForm.userPassword.$valid,
                'has-error' : !addClassForm.userPassword.$pristine && addClassForm.userPassword.$invalid }">
                        <label for="userPassword" class="col-md-2  col-md-offset-2">收报告邮箱密码</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="请输入密码" ng-model="lesson.email_pwd">
                            <div ng-show="!addClassForm.userPassword.$pristine && addClassForm.userPassword.$valid">
                                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                            </div>
                            <div ng-show="!addClassForm.userPassword.$pristine && addClassForm.userPassword.$invalid">
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subjectPattern" class="col-md-2 col-md-offset-2">邮件主题格式</label>
                        <div class="col-md-6">
                            <select ng-model="lesson.subject_pattern" class="form-control">
                                <option ng-repeat="option in data.subjectOptions" value="{{option.value}}">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-md-2 col-md-offset-2">附件文件名</label>
                        <div class="col-md-6">
                            <select ng-model="lesson.attach_pattern" class="form-control">
                                <option ng-repeat="option in data.fileNameOptions" value="{{option.value}}">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-2">附件文件格式</label>
                        <div class="col-md-6">
                            <select ng-model="lesson.fix_pattern" class="form-control">
                                <option ng-repeat="option in data.fileFixOptions" value="{{option.value}}">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="deadline" class="col-md-2 col-md-offset-2">截止日期</label>
                        <div class="col-md-4">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="lesson.deadline" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" alt-input-formats="altInputFormats" clear-text="清零" current-text="置为今天" />
                                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-lg col-md-offset-5" ng-click="submit()">确认修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>